﻿@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Restaurants";
    var token = HttpContextAccessor.HttpContext.Session.GetString("authToken");
    var handler = new JwtSecurityTokenHandler();
    var jsonToken = handler.ReadToken(token) as JwtSecurityToken;
    var isAdmin = jsonToken.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Administrator");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Restaurant/Index">Restaurant</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        @if (isAdmin)
                        {
                            <li class="nav-item px-3">
                                <a class="btn btn-info text-white" asp-page="/GRPC/Index">Soap client</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-page="/Account/LogOff" class="btn btn-secondary">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>