@page "/account/register"
@model RestaurantUI.Pages.Account.RegisterModel
@{
    Layout = "/Pages/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Login";
}
<h1>Register Page</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="RegisterVM.FirstName" class="control-label">First Name</label>
        <input asp-for="RegisterVM.FirstName" class="form-control" />
        <span asp-validation-for="RegisterVM.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegisterVM.LastName" class="control-label">Last Name</label>
        <input asp-for="RegisterVM.LastName" class="form-control" />
        <span asp-validation-for="RegisterVM.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegisterVM.Email" class="control-label">Email</label>
        <input asp-for="RegisterVM.Email" class="form-control" />
        <span asp-validation-for="RegisterVM.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegisterVM.UserName" class="control-label">User Name</label>
        <input asp-for="RegisterVM.UserName" class="form-control" />
        <span asp-validation-for="RegisterVM.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegisterVM.Password" class="control-label">Password</label>
        <input asp-for="RegisterVM.Password" class="form-control" />
        <span asp-validation-for="RegisterVM.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <div asp-validation-summary="All"></div>
</form>